jviewer-jc/jviewer-jc-wsdl2java/src/main/resources/wsdl/jcService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="JcService" targetNamespace="http://www.jviewer.tk/services/jc_v1_00"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.jviewer.tk/services/jc_v1_00"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.jviewer.tk/services/jc_v1_00" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://www.jviewer.tk/services/jc_v1_00">

            <xs:element name="CompileAndExecute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sourceCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="CompileAndExecuteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="tns:JcResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="JcResult">
                <xs:sequence>
                    <xs:element name="output" type="xs:string"/>
                    <xs:element name="errorOccurred" type="xs:boolean"/>
                    <xs:element name="binaryResult" type="xsd:base64Binary"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="JcFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="CompileAndExecute">
        <wsdl:part name="parameters" element="tns:CompileAndExecute"/>
    </wsdl:message>
    <wsdl:message name="CompileAndExecuteResponse">
        <wsdl:part name="parameters" element="tns:CompileAndExecuteResponse"/>
    </wsdl:message>
    <wsdl:message name="JcFault">
        <wsdl:part name="JcFault" element="tns:JcFault"/>
    </wsdl:message>

    <wsdl:portType name="JcServicePortType">
        <wsdl:operation name="CompileAndExecute">
            <wsdl:input name="CompileAndExecute" message="tns:CompileAndExecute"/>
            <wsdl:output name="CompileAndExecuteResponse" message="tns:CompileAndExecuteResponse"/>
            <wsdl:fault name="JcFault" message="tns:JcFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="JcServiceSoapBinding" type="tns:JcServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CompileAndExecute">
            <wsdl:input name="CompileAndExecute">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CompileAndExecuteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JcFault">
                <soap:fault name="JcFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="JcService">
        <wsdl:port name="JcServicePort" binding="tns:JcServiceSoapBinding">
            <soap:address location="http://localhost:9090/JcServicePort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
