jviewer-jc/jviewer-jc-wsdl2java/src/main/resources/wsdl/jcService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="JcServiceService" targetNamespace="http://www.jviewer.tk/services/jc_v1_00" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.jviewer.tk/services/jc_v1_00" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.jviewer.tk/services/jc_v1_00" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.jviewer.tk/services/jc_v1_00">
      <xs:element name="compileAndExecute" type="tns:compileAndExecute"/>
      <xs:element name="compileAndExecuteResponse" type="tns:compileAndExecuteResponse"/>
      <xs:complexType name="compileAndExecute">
        <xs:sequence>
          <xs:element name="sourceCode" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="compileAndExecuteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="result" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="JcFault" type="tns:JcFault"/>
      <xs:complexType name="JcFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="compileAndExecuteResponse">
    <wsdl:part name="parameters" element="tns:compileAndExecuteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="compileAndExecute">
    <wsdl:part name="parameters" element="tns:compileAndExecute">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="JcFault">
    <wsdl:part name="JcFault" element="tns:JcFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="JcService">
    <wsdl:operation name="compileAndExecute">
      <wsdl:input name="compileAndExecute" message="tns:compileAndExecute">
      </wsdl:input>
      <wsdl:output name="compileAndExecuteResponse" message="tns:compileAndExecuteResponse">
      </wsdl:output>
      <wsdl:fault name="JcFault" message="tns:JcFault">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JcServiceServiceSoapBinding" type="tns:JcService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="compileAndExecute">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="compileAndExecute">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="compileAndExecuteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="JcFault">
        <soap:fault name="JcFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JcServiceService">
    <wsdl:port name="JcServicePort" binding="tns:JcServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/JcServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
